body{
    margin: 0;
    padding: 0;
    background: blue;
}
.box{
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 560px;
    background: black;
    overflow: hidden;
}
.inline-text{
    color: white;
    position: absolute;
    top: 32px;
    left: 40px;
}
.inline-text h1{
    font-size: 25px;
    margin-bottom: 20px;
}

.inline-text p{
    color:white;
    opacity: 0.9;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
}

.box1{
    
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: orange;
}

.box1 .user-id{
    position: relative;
    top: 300px;
    left: 20px;
    padding: 10px 20px;
}

.box2 .user-id{
    position: relative;
    left: 20px;
    top: 20px;
}
.box2 .user-data input{
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: none;
    transition: 0.5s;
    margin-bottom: 20px;
}

.box2 .user-data label{
    color: white;
    padding: 2.5px 5px;
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 10px;
    font-weight: 400;
    pointer-events: none;
    transition: 0.5s;
}

.box2 .user-data input:focus ~ label,
.box2 .user-data input:valid ~label{
    top: -20px;
    font-size: 12px;
}
.box2 .user-data input:focus{
    border-bottom: 1px solid rgb(15, 44, 190);
}
.box2 span a{
    position: relative;
    top: 140px;
    left: 315px;
    display: inline;
    color: blue;
    font-weight: 600;
}

.box1 .button input{
    width: 330px;
    height: 50px;
    font-size: 18px;
    border: none;
    background: white;
}

.user-id p{
    font-size: 12px;
    color: white;
}


.box2 .button input[type="submit"],
.box1 .button2 a
.box1 .button3 a {
    background-color: orange;
    border-radius: 2px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    outline: none;
    transition: 0.5s;
    margin-top: none;
    padding: 5px 10px; /* Adjust padding as needed */
    text-decoration: none; /* Remove underline from anchor tag */
    display: inline-block; /* Make anchor tag inline-block for consistent display */
    border: none; /* Remove border from anchor tag */
}
.box1 .button2 a
.box1 .button3 a {
    background-color: blue;
}
.box2 .button input[type="submit"]:hover,
.box1 .button2 a:hover 
.box1 .button3 a:hover{
    box-shadow: 2px 3px 5px 0 black;
}


.user-id .footer a{
    position: absolute;
    top: 115px;
    left: 51px;
    font-weight: 600;
    text-decoration: none;
    color: blue;
}
.box2 .error-messages{
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 370px;
}
.box2 .alert-danger1 {
    top: 20px;
    color: red;
    width: 500px;
    left: 0px;
    font-size: 13px;
    font-weight: 400;
}

.box2 .alert-danger2 {
    top: 20px;
    color: red;
    width: 500px;
    left: 0px;
    font-size: 13px;
    font-weight: 400;
}